<link rel="stylesheet" href="{{ asset('bundles/app/css/style.css') }}" />
<div id="form_wrapper">
    <h1>Send your CV</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}
</div>
